<div>
    <h1>Que es Angular</h1>
    <p>
      Angular es un marco de desarrollo de código abierto mantenido por Google, diseñado para crear aplicaciones web dinámicas y de una sola página (SPA). Utiliza TypeScript para proporcionar un sistema de tipos estático y mejorar la productividad del desarrollador.
    </p>
    <p>
      Los componentes son fundamentales en Angular, encapsulando lógica e interfaz de usuario. Organizados en un árbol jerárquico, facilitan la gestión de la complejidad de las aplicaciones.
    </p>
  </div>

  <div>
    <p>
      Angular ofrece características como enlace bidireccional de datos, inyección de dependencias y directivas personalizadas. Esto simplifica la sincronización entre modelo y vista, así como la gestión de dependencias.
    </p>
    <p>
      Además, Angular proporciona un sistema de módulos y herramientas como Angular CLI, simplificando la creación, prueba y despliegue de aplicaciones. Estas características lo destacan como una opción preferida para el desarrollo web moderno.
    </p>
  </div>
  

<!-- <router-outlet /> -->
